:root {
  --dark-blue: #2e3440;
}

body, html, h1 {
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Comic Sans MS';
  background-color: var(--dark-blue); 
  color: #d8dee9; 
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#shelf {
  border: solid black .2rem;
  min-height: 50vh;
  min-width: 50vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.book {
  text-align: center;
}

.input-form {
  display: none;
  border: solid black .2rem;
  margin: 2rem;
}

.add-btn {
  font-family: inherit;
  font-weight: bold;
  border: solid black .2rem;
  border-radius: .4rem;
}
